/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* COMMON */
header{
    width: 100%;
    height: 50px;
    /* test */
    background-color: cornsilk;
}
/* END COMMON */


/* MAIN PAGE */
.main-page{
    width: 100%;
    height: 100vh;
  
}
.main-bottom{
    width: 100%;
    height:calc(100vh - 140px);
    /* test */
    background-color: aquamarine;
}

.main-top{
    width: 100%;
    height:140px;
    /* test */
    background-color: #019688;
}
/* END MAIN PAGE */

/* WEB APP */
.container{
    width: 90%;
    margin: auto;
    height:calc(100vh - 80px);
    position: relative;
    bottom:100px;
  

    /* test */
    background-color:chocolate ;
}
/* END WEB APP */


