/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* COMMON */

header{
    width: 100%;
    height: 70px;
    display: flex;
    background-color: #eaeaea;
    padding: 5px 0;
}

img{
    width: 100%;
    object-fit: contain;
}
ul{
    list-style-type: none;
}

.text{
    color: #b1b1b1;
    font-size: 14px;
}
.left{
    width: 40%;
    border-right:1px solid lightgrey;
    
}
.right{
    width: calc(100% - 40%);
}




/* MAIN PAGE */
.main-page{
    width: 100%;
    height: 100vh;
  
}
.main-bottom{
    width: 100%;
    height:calc(100vh - 140px);
    /* test */
    background-color: aquamarine;
}

.main-top{
    width: 100%;
    height:140px;
    /* test */
    background-color: #019688;
}
/* END MAIN PAGE */

/* WEB APP */
.container{
    background-color: white;
    width: 90%;
    min-width:800px;
    margin: auto;
    height:calc(100vh - 60px);
    position: relative;
    bottom:110px;
   
}

/* header */
.header-bar{
    height: 100%;
    padding: 10px;
    display: flex;
    
}

/* header bar */
.user-info{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    
}
.user-options{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content:flex-end;
}

.round-icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.icons{
    margin: 0 10px;
    color: #b1b1b1;
    font-size: 22px;
    cursor: pointer;
}
.main-text{
    font-size: 16px;
    font-weight: bolder;
}
/* end header */

/* MAIN */
.main-app{
    height: calc(100% - 70px); 
    display: flex;
}

/* contacts col */
.contact-col{
    height: 100%;
  
}
.chat-col{
    height: 100%;
    background-color: cornflowerblue;
}
.bell{
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: white;
    border-radius: 50%;
    line-height: 50px;
    text-align:center;
    margin-right: 10px;
}
.bell i{
    font-size: 20px;
    color: #8edafb;
}

.notifications{
    background-color:#8edafb;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    
}
.notifications a{
    color: grey;
}

.conversations{
    width: 100%;
    background-color:#fafafa;
    padding: 12px;
}
.conversations input{
    width: 100%;
    padding: 9px;
    text-decoration: none;
    border: 1px solid #eaeaea;
}
.contacts{
    width: 100%;
}

.single-contact{
    display: flex;
    padding: 10px 20px;
    border-bottom: 1px solid #fafafa;
    
}
.single-contact .main-text{
    margin-left: 20px;
}
.contact-icon{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}



/* ACTIVE CLASSES */
.is-selected-contact{
    background-color: #e9ebea;
}


/* END WEB APP */


